name: Data Preprocessing CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  run-preprocessing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas scikit-learn

      - name: Run Preprocessing Script
        run: |
          # Perintah untuk menjalankan file python di dalam folder preprocessing
          python "preprocessing/Automate_Rahma_putri.py"

      - name: Upload Cleaned Dataset Artifact
        uses: actions/upload-artifact@v4
        with:
          name: cleaned-dataset
          # Lokasi file hasil yang akan diupload (sesuai folder di repo Anda)
          path: preprocessed/healthcare_dataset_cleaned.csv
